
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f8fc;
  color: #222;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #5b18b9;
  color: white;
}

.nav-links a {
  margin-left: 1.5rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.btn {
  background-color: #4895e8;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: black;
}
.cta-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #5c00e6;
  color: #fff;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size:1.5rem;
  margin-top: 2rem;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #4700b3;
}

.hero-image {
  flex: 1;
  min-width: 400px;
  text-align: right;
}

.hero {
  text-align: left;
  padding: 5rem 2rem;
  background-color: #94afef;
}

.hero h1 {
  font-size: 3rem;
  color: #6200ea;
}

.hero p {
  font-size: 1.2rem;
  margin-top: 1rem;
}


.features {
  padding: 4rem 2rem;
  background-color: #6484ea;
}

.features h2 {
  text-align: center;
  color: #333;
  margin-bottom: 2rem;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
}
.feature-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: 500;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  background-color: rgb(137, 209, 234);
}


.footer {
  padding: 5rem;
  text-align: center;
  background-color: #464748;
  color: #876fe0;
}

.hero-section {
  padding: 0;
  margin: 0;
  background: white;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.hero-text {
  flex: 1;
  padding: 2rem;
  text-align: center;
}

.hero-text h1 {
  font-size: 3rem;
  color: #5e00d9;
  font-weight: 700;
}

.hero-text p {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #333;
}

.hero-image {
  flex: 1;
  margin: 0;
  padding: 2.5rem;
}

.hero-image img {
   max-width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}